body {
    background-color: #F0EDE5;
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #2b2b2b;
}

form {
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

input[type="text"], input[type="url"], textarea, input[type="number"], input[type="file"] {
    width: calc(100% - 24px);
    padding: 12px 10px;
    margin: 8px 0;
    border: 1px solid #D0893F;
    border-radius: 5px;
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
}

button {
    background-color: #D0893F;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    width: 200px; 
    margin-bottom: 10px; 
}

button:hover {
    background-color: #18181A;
}

hr {
    border: 1px solid #D0893F; 
    margin: 20px 0; 
}

a {
    color: #D0893F;
    text-decoration: none;
}

a:hover {
    color: #2b2b2b;
}