{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Удаление "{{ house.title }}"</title>
    <link rel="stylesheet" href="{% static 'administration/css/house_confirm_delete_style.css' %}">
</head>
<body>
    <h1>Вы уверены, что хотите удалить "{{ house.title }}"?</h1>
    <form method="post">
        {% csrf_token %}
        <button type="submit">Удалить</button>
    </form>
    <a href="{% url 'house_list' %}">Отмена</a>
</body>
</html>