{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Создание дома</title>
    <link rel="stylesheet" href="{% static 'administration/css/house_create_style.css' %}">
</head>
<body>
    <h1>Создать дом</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ house_form.as_p }}

        <h2>Внутренние фотографии</h2>
        <div id="internal-photo-container">
            <div class="internal-photo">
                <input type="file" name="internal_photos[]" multiple>
                <button type="button" class="remove-internal-photo">Удалить</button>
            </div>
        </div>
        <button type="button" class="add-internal-photo">Добавить внутреннюю фотографию</button>

        <h2>Внешние фотографии</h2>
        <div id="external-photo-container">
            <div class="external-photo">
                <input type="file" name="external_photos[]" multiple>
                <button type="button" class="remove-external-photo">Удалить</button>
            </div>
        </div>
        <button type="button" class="add-external-photo">Добавить внешнюю фотографию</button>

        <h2>Комнаты</h2>
        <div id="room-container">
            <div class="room">
                <input type="text" name="room_names[]" placeholder="Название комнаты">
                <input type="number" name="room_areas[]" placeholder="Площадь комнаты (м²)">
                <button type="button" class="remove-room">Удалить</button>
            </div>
        </div>
        <button type="button" id="add-room">Добавить комнату</button>

        <button type="submit">Сохранить</button>
    </form>

    <script src="{% static 'administration/js/house_create_js.js' %}"></script>
</body>
</html>