{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if house_form.instance.pk %}Редактировать дом{% else %}Добавить новый дом{% endif %}</title>
    <link rel="stylesheet" href="{% static 'administration/css/house_form_style.css' %}">
</head>
<body>
    <h1>{% if house_form.instance.pk %}Редактировать дом{% else %}Добавить новый дом{% endif %}</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ house_form.as_p }}

        <h2>Внешние фотографии</h2>
        <div id="exterior-photo-section">
            {{ exterior_photo_formset.management_form }}
            {% for photo_form in exterior_photo_formset %}
                <div class="exterior-photo-form">
                    {% if photo_form.instance.pk %}
                        <img src="{{ photo_form.instance.photo.url }}" alt="Внешняя фотография" width="100">
                    {% endif %}
                    {{ photo_form.as_p }}
                    <button type="button" class="remove-exterior-photoBtn">Удалить внешнюю фотографию</button>
                </div>
                <hr>
            {% endfor %}
            <div class="exterior-photo-form">
                {{ exterior_photo_formset.empty_form.as_p }}
                <button type="button" class="remove-exterior-photoBtn">Удалить внешнюю фотографию</button>
            </div>
        </div>
        <button type="button" class="add-exterior-photoBtn" id="add-exterior-photo">Добавить внешнюю фотографию</button>

        <h2>Внутренние фотографии</h2>
        <div id="interior-photo-section">
            {{ interior_photo_formset.management_form }}
            {% for photo_form in interior_photo_formset %}
                <div class="interior-photo-form">
                    {% if photo_form.instance.pk %}
                        <img src="{{ photo_form.instance.photo.url }}" alt="Внутренняя фотография" width="100">
                    {% endif %}
                    {{ photo_form.as_p }}
                    <button type="button" class="remove-interior-photoBtn">Удалить внутреннюю фотографию</button>
                </div>
                <hr>
            {% endfor %}
            <div class="interior-photo-form">
                {{ interior_photo_formset.empty_form.as_p }}
                <button type="button" class="remove-interior-photoBtn">Удалить внутреннюю фотографию</button>
            </div>
        </div>
        <button type="button" class="add-interior-photoBtn" id="add-interior-photo">Добавить внутреннюю фотографию</button>

        <h2>Комнаты</h2>
        <div id="room-section">
            {{ room_formset.management_form }}
            {% for room_form in room_formset %}
                <div class="room-form">
                    {{ room_form.as_p }}
                    <button type="button" class="remove-roomBtn">Удалить комнату</button>
                </div>
                <hr>
            {% endfor %}
            <div class="room-form">
                {{ room_formset.empty_form.as_p }}
                <button type="button" class="remove-roomBtn">Удалить комнату</button>
            </div>
        </div>
        <button type="button" class="add-roomBtn" id="add-room">Добавить комнату</button>

        <hr> 
        <button type="submit">Сохранить</button>
    </form>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'administration/js/house_form_js.js' %}"></script>
</body>
</html>