/*---------------------HOME----------------------------*/
*{
  border: none;
  font-family: "Open Sans", sans-serif;
}
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #F0EDE5;
  overflow: hidden;
}

.modularhouse-main-container {
  border:none;
  width: 100%;
  height: 4100px;
  display: flex;
  z-index: 3;
  align-items: center;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
}
.modularhouse-main-modularhouse-main {
  border:none;
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.modularhouse-main-video-mobile578d489a792cf5177ad6e679fa166677mp4 {
  width: 1209.5899658203125px;
  height: 1200px;
  display: flex;
  overflow: hidden;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  background-size: cover;
  background-image: url("../static/images/tq_yfopzlek2j-ti1m-1500w.png");
}
.modularhouse-main-footer{
  width: 100%;
  background: #18181A;
  color:#F0EDE5;
  height: 35px;
  margin-top:350px;
  z-index: -1;
  display: flex;
}
.footerText{
  margin-left:700px;
  vertical-align:middle;
}
/*---------------------HOME-END----------------------------*/

.modularhouse-main-container-home {
  padding: 20px;
}

.content-wrapper {
  display: flex; /* Используем flexbox для размещения слайдера и информации о доме */
}

.house-slider {
  max-width: 25%; /* Ограничиваем ширину слайдера до 25% */
}



.card-testimonial {
  margin-bottom: 20px; /* Отступ между карточками */
}



/*---------------------NAVBAR----------------------------*/
.modularhouse-main-nav {
  gap: 953.97998046875px;
  top: 1px;
  flex: 1;
  left: -4px;
  width: 192px;
  height: 1200px;
  display: flex;
  padding: 50px 1px 80.0199966430664px 0;
  z-index: 1;
  position: fixed;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(79, 79, 79, 1);
  border-style: solid;
  border-width: 0 1px 0 0;
  flex-direction: column;
  justify-content: space-between;
  background-color: #F0EDE5;
}
.modularhouse-main-link {
  display: contents;
}
.modularhouse-main-logo {
  display: flex;
  width: 60px;
  height: 90px;  
  padding: 0 0 4px;
  align-items: flex-start;
  flex-direction: column;
}
.linksSocial {
  width: 192px;
  height: 50px;
  z-index: 2;
  position: fixed;
  text-align: center;
  line-height: 22.399999618530273px;
  display: flex;
  flex-direction: column;
  top:900px;
  white-space:nowrap;
  display: inline-block;
}
.facebookLink, .youtubeLink, .instagramLink {
  height: 50px;
  width: 50px;
  white-space:nowrap;
  display: inline-block;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  justify-content: center; 
}
.facebookLinkBtn, .youtubeLinkBtn, .instagramLinkBtn{
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  justify-content: center; 
}
.svgFacebook {
  width: 18px;
  height: 23px;
}
.svgYoutube {
  width: 27px;
  height: 22px;
}
.svgInstagram {
  width: 24px;
  height: 24px;
}
.NavBar {
  width: 192px;
  height: 500px;
  z-index: 2;
  position: fixed;
  text-align: left;
  line-height: 22.399999618530273px;
  display: flex;
  flex-direction: column;
  top:350px;
}

.navbarA{
  display: block;
  width: 200px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  text-decoration: none;
  color: #333;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .35s;
}

.navbarA span{
  position: relative;
  z-index: 2;
}

.navbarA:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #2b2b2b;
  transition: all .35s;
}

.navbarA:hover{
  color: #fff;
}

.navbarA:hover:after{
  width: 96%;
}

.NavBarItem{
  width: 192px;
  height: 50px;
  justify-content: center; 
  align-items: center;
  display: flex;
}
/*---------------------NAVBAR-END----------------------------*/
.modularhouse-main-container-home {
  z-index: 0;
  align-self: stretch;
  flex-direction: column;
  position: relative;
  left:186px;
  height: 100%;
  display: flex;
  align-items: flex-start; /* Выравнивание по верхнему краю */
  width: 100%; /* Убедитесь, что контейнер имеет достаточную ширину */
}


/*---------------------BTN-START-----------------------*/
@import url('https://fonts.googleapis.com/css?family=Lato:100&display=swap');
.contactBtnContainer {
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  z-index: 2;
  left:1470px;
  top:-750px;
  height: 35px;
  width: 160px;  
}
.center {
  width: 180px;
  height: 60px;
  position: absolute;
}
.detailsBtn {
  width: 180px;
  height: 60px;
  cursor: pointer;
  background-color:#D0893F;
  border: 1px solid #F0EDE5;
  outline: none;
  transition: 1s ease-in-out;
  align-self: center;
}

svg {
  fill: none;
  stroke: #e5ff00;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}
.contactBtn:hover {
  transition: 1s ease-in-out;
  background: #18181A;
}
.contactBtn:hover svg {
  stroke-dashoffset: -480;
}
.contactBtn span {
  color: #F0EDE5;
  font-size: 18px;
  font-weight: 100;
}
.submitBtn:hover {
  transition: 1s ease-in-out;
  background: #18181A;
}
.submitBtn:hover svg {
  stroke-dashoffset: -480;
}
.submitBtn span {
  color: #F0EDE5;
  font-size: 18px;
  font-weight: 100;
}
.detailsBtn:hover {
  transition: 1s ease-in-out;
  background: #18181A;
}
.detailsBtn:hover svg {
  stroke-dashoffset: -480;
}
.detailsBtn span {
  color: #F0EDE5;
  font-size: 18px;
  font-weight: 100;
}
/*---------------------BTN-END-----------------------*/

.catalog{
  width: 250px;
  height: 100%;
  border-right: 1px solid black;
  display: flex;
  flex-direction: column; /* Вертикальное расположение элементов */
  overflow-y: auto; /* Прокрутка по вертикали */
  overflow-x: hidden;
  max-height: 880px; /* Ограничение высоты для прокрутки */
  margin-right: 20px; /* Отступ между каталогом и проектом */
}
.catalog::-webkit-scrollbar {
  width: 0;
}
.catalogElementImg{
  width: 249px;
}
.catalogElement{
  margin-bottom: 25px;
}
.NameModelMainCatalogSlidersElement{
  text-align: center;
  margin-top: 25px;
}
.ProjectSelect{
  width: 490px;
  margin-left: 20px; 
  flex-direction: column;
  margin-left: 20px; /* Отступ слева для отделения от слайдера */
  height: 100%;  
  display: flex;
  border: 1px solid black;
}
.projectContainer {
  display: flex;
  align-items: flex-start; /* Выравнивание по верхнему краю */
  width: 100%; /* Убедитесь, что контейнер имеет достаточную ширину */
 
}
.imgBox{
  width: 490px;
  height: 300px;
  align-items: center;
  text-align: center;
  display: flex;
  margin-top: 35px;
}
.ProjectSelectName, .ProjectSelectDescription, .infoContainer, .ProjectSelectImg{
  margin-left:55px;
}
.ProjectSelectImg {
  width: 370px; /* Ширина изображения проекта */
  height: 270px; /* Автоматическая высота для сохранения пропорций */
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
}
.ProjectSelectName{
  font-size: 48px;
  font-weight: bold;
}
.ProjectSelectDescription{
  margin-top: 35px;
  width: 370px;
  height: 90px;
}
.infoContainer {
  display: flex;
  justify-content: space-between; /* Выравнивание по горизонтали */
  width: 370px;
}

.infoLabel {
  margin-right: 10px; /* Отступ между меткой и значением */
}
.detailsBtn {
  margin-top: 10px; /* Отступ для кнопки */
}
.infoValue{
  font-weight: bold;
}
.catalogBackElementImg{
  width: 70%;
  height: 100%;
  z-index: 101;

}
