/*---------------------HOME----------------------------*/
*{
  border: none;
  font-family: "Open Sans", sans-serif;
}
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #F0EDE5;
  overflow-x: hidden;

}
body::-webkit-scrollbar {
  width: 6px;
  overflow-y: scroll;   
}
body::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(136, 136, 136);
  border-radius: 20px;
}
.modularhouse-main-footer{
  width: 100%;
  background: #18181A;
  color:#F0EDE5;
  height: 35px;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footerText{
  vertical-align:middle;
  text-align:center;
}
/*---------------------HOME-END----------------------------*/
.modularhouse-main-nav {
  gap: 953.97998046875px;
  top: 1px;
  flex: 1;
  left: -4px;
  width: 192px;
  height: 1200px;
  display: flex;
  padding: 50px 1px 80.0199966430664px 0;
  z-index: 1;
  position: fixed;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(79, 79, 79, 1);
  border-style: solid;
  border-width: 0 1px 0 0;
  flex-direction: column;
  justify-content: space-between;
  background-color: #F0EDE5;
}
.modularhouse-main-link {
  display: contents;
}
.modularhouse-main-logo {
  display: flex;
  width: 60px;
  height: 90px;  
  padding: 0 0 4px;
  align-items: flex-start;
  flex-direction: column;
}
.linksSocial {
  width: 192px;
  height: 50px;
  z-index: 2;
  position: fixed;
  text-align: center;
  line-height: 22.399999618530273px;
  display: flex;
  flex-direction: column;
  top:900px;
  white-space:nowrap;
  display: inline-block;
}
.facebookLink, .youtubeLink, .instagramLink {
  height: 50px;
  width: 50px;
  white-space:nowrap;
  display: inline-block;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  justify-content: center; 
}
.facebookLinkBtn, .youtubeLinkBtn, .instagramLinkBtn{
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  justify-content: center; 
}
.svgFacebook {
  width: 18px;
  height: 23px;
}
.svgYoutube {
  width: 27px;
  height: 22px;
}
.svgInstagram {
  width: 24px;
  height: 24px;
}
.NavBar {
  width: 192px;
  height: 500px;
  z-index: 2;
  position: fixed;
  text-align: left;
  line-height: 22.399999618530273px;
  display: flex;
  flex-direction: column;
  top:350px;
}
.navbarA{
  display: block;
  width: 200px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  text-decoration: none;
  color: #333;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .35s;
}
.navbarA span{
  position: relative;
  z-index: 2;
}
.navbarA:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #2b2b2b;
  transition: all .35s;
}
.navbarA:hover{
  color: #fff;
}
.navbarA:hover:after{
  width: 96%;
}
.NavBarItem{
  width: 192px;
  height: 50px;
  justify-content: center; 
  align-items: center;
  display: flex;
}
/*---------------------NAVBAR-END----------------------------*/
/*---------------------BTN-START-----------------------*/
@import url('https://fonts.googleapis.com/css?family=Lato:100&display=swap');
.contactBtnContainer {
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  z-index: 2;
  left:1470px;
  top:-750px;
  height: 35px;
  width: 160px;  
}
.center {
  width: 180px;
  height: 60px;
  position: absolute;
}
.contactBtn, .submitBtn {
  width: 180px;
  height: 60px;
  cursor: pointer;
  background-color:#D0893F;
  border: 1px solid #F0EDE5;
  outline: none;
  transition: 1s ease-in-out;
}

svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #18181A;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
  z-index: 2;
}
.contactBtn:hover {
  transition: 1s ease-in-out;
  background: #18181A;
}
.contactBtn:hover svg {
  stroke-dashoffset: -480;
}
.contactBtn span {
  color: #F0EDE5;
  font-size: 18px;
  font-weight: 100;
}
.submitBtn:hover {
  transition: 1s ease-in-out;
  background: #18181A;
}
.submitBtn:hover svg {
  stroke-dashoffset: -480;
}
.submitBtn span {
  color: #F0EDE5;
  font-size: 18px;
  font-weight: 100;
}
/*---------------------BTN-END-----------------------*/
.slider{
  width: 100%;
  height: 1080px;
}
.carouselExampleCaptions{
  width: 100%;
  height: 1080px;
}
.carousel-item{
  width: 100%;
  height: 1080px;
}
.projectPhoto{
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.modularhouse-main-container-home, .projectPhoto2
{
  margin-left: 180px;
}


.dModel{
  width: 100%;
  height: 650px;
}
.dModelHead{
  float:left;
  width:40%;
  height: 90%;
  border-radius: 1px solid black;
  padding:20px;
}
.modelContainer{
  float:right;
  width:40%;
  height: 90%;
  border-radius: 1px solid black;
  padding:20px;
}
.priceProjectHead{
  width: 700px;
  font-size: 32px;
}
.priceProject {
  margin-top: 150px;
}
.priceProjectBody{
  margin-top: 100px;
}
.projectPhoto2{

  width: 680px;
  height: 950px;
}
.projectilePhoto2{
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.roomDetails{
  float:right;
  width: 400px;
  height: 100%;
}
.payBtn{
  width: 180px;
  height: 60px;
  cursor: pointer;
  background-color:#D0893F;
  border: 1px solid #F0EDE5;
  outline: none;
  transition: 1s ease-in-out;
  align-self: center;
  margin-top: 45px;
}
.payBtn:hover {
  transition: 1s ease-in-out;
  background: #18181A;
}
.payBtn:hover svg {
  stroke-dashoffset: -480;
}
.payBtn span {
  color: #F0EDE5;
  font-size: 18px;
  font-weight: 100;
}